@import "./css/theme/source/solarized";

.reveal-viewport {
  background: white;
}

.reveal h1 {
  color: $orange;
}

.reveal h2 {
  color: $yellow;
}

.reveal h3 {
  color: $green;
}

.reveal .orange {
  color: $orange;
}

.reveal .red {
  color: $red;
}

.reveal .blue {
  color: $blue;
}

.reveal .green {
  color: $green;
}

.reveal .yellow {
  color: $yellow;
}

.reveal .magenta {
  color: $magenta;
}

.reveal .slides section img {
  margin: 15px 0;
  border: none;
  box-shadow: 0 0 0;
}

.reveal .slides section img[src$=".svg"] {
  margin: 15px 0;
  border: none;
  box-shadow: 0 0 0;
}

.reveal .slides section blockquote {
  width: 30em;
  background: white;
  border: 0 solid;
  box-shadow: 0 0 0;
  text-align: right;
  font-style: italic;
  font-size: larger;
  padding: 0 0;
}

.reveal .slides section ul {
  margin-bottom: 100%;
  margin-left: -1ex
}

.reveal .slides section ul li {
  list-style-type: none;
}

.reveal .list {
  display: flex; 
  flex-direction: column; 
  align-items: flex-start
}

.reveal .list .item {
  margin-left: 10%
}

.reveal .slides sub {
  vertical-align: sub;
  font-size: smaller;
}
.reveal iframe {
  border: none;
}

.reveal pre {
  width: 98%;
  font-size: 0.40em;
  border: none;
  color: $base3;
  background: $base03;
}

.reveal .ch {
  background-color: $base01;
}
